.movie-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: rgba(96, 96, 96, 0.322);
    text-align: center;
    border: 1px solid rgba(253, 253, 253, 0.26);
    box-shadow: 1px 1px 4px 0 rgba(214, 218, 221, 0.404);
    border-radius: .3rem;
    margin: 1rem 1.3rem;
    padding: 1.3rem 0;
    cursor: pointer;
}